<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project3</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35vh;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Hello {{ name }}!</h1>
      <h3>Welcome to my Flask project for Python!</h3>
    </div>
  </body>
</html>
