<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rick Rolled</title>
  </head>
  <body>
    <h1>Sorry {{ name }}, looks like you just got Rick Rolled!</h1>
    <div class="video_container">
      <iframe
        src="https://giphy.com/embed/FbPsiH5HTH1Di"
        width="480"
        height="445"
        frameborder="0"
        class="giphy-embed"
        allowfullscreen
      ></iframe>
      <p>
        <a href="https://giphy.com/gifs/long-far-FbPsiH5HTH1Di">via GIPHY</a>
      </p>
    </div>
  </body>
</html>
